- title "Ranking"
%h1 Ranking

%table.table
  %thead
    %tr
      %th Pozycja
      %th Użytkownik
      %th Punkty
      %th Dobre odpowiedzi
      %th Złe odpowiedzi
      %th Poprawność
  %tbody
    = render partial: 'user', collection: users
