- if @question_word.good_count != 0 || @question_word.bad_count != 0
  .progress{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Poziom trudności słówka na podstawie odpowiedzi użytkowników."}
    .progress-bar.progress-bar-success{:role => "progressbar", :style => "width:#{correctness(@question_word.good_count, @question_word.bad_count)}"}
      = correctness(@question_word.good_count, @question_word.bad_count)
    .progress-bar.progress-bar-danger{:role => "progressbar", :style => "width:#{correctness_reverse(@question_word.good_count, @question_word.bad_count)}"}
      = correctness_reverse(@question_word.good_count, @question_word.bad_count)