%p
  = simple_form_for(@word) do |f|
    =f.input :en, label: 'Angielski', error: 'To pole jest obowiązkowe'
    =f.input :pl, label: 'Polski', error: 'To pole jest obowiązkowe'
    =f.submit 'Zapisz', {:class => 'btn btn-primary'}
