%p
  = simple_form_for(@word) do |f|
    =f.input :en, label: 'Angielski', :autofocus => true
    =f.input :pl, label: 'Polski'
    =f.label 'Poziom trudności (0 - najłatwiejsze, 10 - najtrudniejsze)'
    %br/
    =f.select :level, (0..10).to_a.map{|n| [n, n]}, include_blank: "---", selected: @word[:level] 
    %br/
    =f.label 'Kategoria'
    =f.select :category_ids, Category.all.collect {|x| [x.name, x.id]}, {}, {:multiple => true, :class => 'form-control' }
    %br/
    =f.submit 'Zapisz', {:class => 'btn btn-primary'}
