%p
  = simple_form_for(word) do |f|
    =f.input :en, label: 'Angielski', :autofocus => true
    =f.input :pl, label: 'Polski'
    =f.association :categories, collection: Category.order('name ASC'), as: :check_boxes, label_method: :name, value_method: :id, label: 'Kategorie'
    %br/
    =f.submit 'Zapisz', {:class => 'btn btn-primary'}
