- title "Lista słówek"
%h1 Lista słówek

= render partial: 'words', locals: {render_words: words}

%br/
= link_to 'Dodaj słówko', new_word_path, {:class => 'btn btn-default'}
%br/
%br/

- if current_user.try(:admin?)
  %p
    = link_to "Pobierz CSV", words_path(format: "csv"), class: 'btn btn-default'


