- title "Dodaj słówko"
.row
  .col-md-4
    %h1 Dodaj słówko
    = render 'form'
    %p.well.well-sm 
      Przechodź między polami formularza klawiszem Tab i wciśnij Enter, aby zapisać słówko.

    - if current_user.try(:admin?)
      %h4 Importuj słówka
      = simple_form_for :upload, url: import_words_path do |f|
        = f.input :file, as: :file, label: "Plik"
        = f.button :submit, "Importuj CSV"
